/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  background-image: url('/images/bgtile.png');
  background-repeat: repeat-x;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

}

main{
  display: flex;
  justify-content:center;
}

.content-1{
  width: 125vh;
  padding: 2vh 14vh;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-btn{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.5vh;
  width: 20vh;
  height: 9vh;
  background:linear-gradient(to bottom, #5193c8, #3277b0);

}

.login-btn a{
  text-decoration: none;
  color:white;
  font-size: larger;
  font-weight: 600;
}
.top-logos{
    padding-bottom: 5vh;
    width: 125vh;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

footer ul{
  padding: 0 20%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

p{
  display: flex;
  flex-wrap: wrap;

}

.page-box{
  padding: 100px 60px 100px 150px;
}

.content-right{
  
    margin-left: 60px;
    
}

.content-right-text{
  background-color: white;
  border-radius: 5px;
}